body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
div{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    /*background: yellow;*/
}
.onePart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.5s linear infinite alternate;
}
.onePart:hover{
    transform: scale(1.4);
}
.twoPart {
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: moveToo 1.6s linear infinite alternate;
}
.twoPart:hover{
    transform: scale(1.4);
}
.threePart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.7s linear infinite alternate;
}
.threePart:hover{
    transform: scale(1.4);
}
.fourPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: moveToo 1.8s linear infinite alternate;
}
.fourPart:hover{
    transform: scale(1.4);
}
.fivePart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.9s linear infinite alternate;
}
.fivePart:hover{
    transform: scale(1.4);
}
.sixPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: moveToo 2s linear infinite alternate;
}
.sixPart:hover{
    transform: scale(1.4);
}
.sevenPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.9s linear infinite alternate;
}
.sevenPart:hover{
    transform: scale(1.4);
}
.eightPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: moveToo 1.8s linear infinite alternate;
}
.eightPart:hover{
    transform: scale(1.4);
}
.ninePart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.7s linear infinite alternate;
}
.ninePart:hover{
    transform: scale(1.4);
}
.tenPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: moveToo 1.6s linear infinite alternate;
}
.tenPart:hover{
    transform: scale(1.4);
}
.elevenPart{
    width: 50px;
    height: 200px;
    background: #00FF00;
    animation: move 1.5s linear infinite alternate;
}
.elevenPart:hover {
    transform: scale(1.4);
}
@keyframes move {
    0%{
        height: 2px;
    }
    25%{
        height: 50px;
    }
    50%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 200px;
        background: #0000FF;
    }
}
@keyframes moveToo {
    0%{
        height: 200px;
    }
    25%{
        height: 150px;
    }
    50%{
        height: 100px;
    }
    75%{
        height: 50px;
    }
    100%{
        height: 2px;
        background: #0000FF;
    }
}