@media screen and (max-width: 480px){
    div {
        grid-template-rows: 1fr 2.5fr 0.5fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
    'header header header'
    'main main main'
    'section article aside'
    'footer footer footer';
    }
}