*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    display: grid;
    height: 90vh;
    width: 90vw;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'header header header header'
    'main main main footer'
    'section article aside footer';
}
header{
    grid-area: header;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
main{
    grid-area: main;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
section{
    grid-area: section;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
article{
    grid-area: article;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
aside{
    grid-area: aside;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
footer{
    grid-area: footer;
    background: #cac9c9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}