@media screen and (max-width: 480px){
    div{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'header header'
            'article main'
            'section aside'
            'address address'
            'footer footer';
    }
    section{
        border-bottom: 1px solid white;
    }
}