*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section>div{
    width: 99vw;
    height: 39vh;
    border: 8px solid white;
    border-radius: 18px;
    background: #dad9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.general{
    width: 99vw;
    height: 59vh;
    border: 8px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-bottom: 8px;
    gap: 8px;
}
.big-section{
    width: 69.5vw;
    height: 59vh;
    border-radius: 10px;
    background: #dad9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-section{
    width: 29.5vw;
    height: 59vh;
    border-radius: 10px;
    background: #dad9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 50px;
    color: black;
}